---
layout: page
title: "Projects"
comments: true
sharing: true
footer: true
---

%h2 My Projects
%p
  %em This page demonstrates some of my personal projects. I have passion and future plans for all these projects. You can see more information about the peojects in their separate pages. If you are interested in my project and want to cooperate with me, feel free to contact me by email.

.listsection
  %img.left(src="/workshop/images/ImageStitch_thumb.png")
  %h3 <a href="{{ root_url }}/workshop/image-stitch">Image Stitching Method Research</a>
  %p Match and combine two pictures into one single picture. It will be a very cool app if it is implemented on mobile devices.
  :markdown
    [Project Page]({{ root_url }}/workshop/image-stitch) |
    [Download]({{ root_url }}/workshop/image-stitch/download.html) |
    [GitHub](https://github.com/wuyanna/ImageStitch/)
 
.listsection
  %img.left(src="/workshop/images/HyperTree_thumb.jpg")
  %h3 <a href="{{ root_url }}/workshop/hypertree-browser">Large hierarchical data browser</a>
  %p A hyperbolic tree browser intended to view large hierachichal data. In this case, it is used to present the large XBRL data.
  :markdown
    [Project Page]({{ root_url }}/workshop/hypertree-browser) |
    [Demo]({{ root_url }}/workshop/hypertree-browser/demo.html) |
    [GitHub](https://github.com/wuyanna/HyperTree)

.listsection
  %img.left(src="/workshop/images/CatPilot_thumb.jpg")
  %h3 <a href="{{ root_url }}/workshop/cat-the-pilot">Cat The Pilot</a>
  %p The kitten is flying with a propeller! Watch out for the birds and flyers! They are dangerous. Take a good trip!
  :markdown
    [Project Page]({{ root_url }}/workshop/cat-the-pilot) |
    [Play NOW]({{ root_url }}/workshop/cat-the-pilot/play.html) |
    [GitHub](https://github.com/wuyanna/CatThePilot)

.listsection
  %img.left(src="/workshop/images/CatPilotHalloween_thumb.jpg")
  %h3 <a href="{{ root_url }}/workshop/cat-the-pilot-halloween">Cat The Pilot -- Halloween Special</a>
  %p The pilot cat becomes a ghost cat! Is it flying in a thriller? Let's see how far it can make.
  :markdown
    [Project Page]({{ root_url }}/workshop/cat-the-pilot-halloween) |
    [Play NOW]({{ root_url }}/workshop/cat-the-pilot-halloween/play.html) |
    [GitHub](https://github.com/wuyanna/CatThePilot)

.listsection
  %img.left(src="/workshop/images/Cube_thumb.png")
  %h3 <a href="{{ root_url }}/workshop/cube">Cube</a>
  %p This demo is a Hackthon project. It has a prospect to present the inter-relationship between friends and shops with an interesting user interaction.
  :markdown
    [Project Page]({{ root_url }}/workshop/cube) |
    [Download apk]({{ root_url }}/workshop/cube/Cube.apk.zip) |
    [GitHub](https://github.com/wuyanna/Cube)

.listsection
  %img.left(src="/workshop/images/OCA_thumb.jpg")
  %h3 <a href="{{ root_url }}/workshop/ocaframework">OCAFramework</a>
  %p An IOS framework including common UI components and base infrastructure. Collected through several projects.
  :markdown
    [Project Page]({{ root_url }}/workshop/ocaframework) |
    [GoogleCode](http://code.google.com/p/ocaframework)


%h2 To Be Continued
%p
  %em These projects are under working! They are coming soon.

%h3 CatHulu

%h3 HuntAround

%h3 AppFactory
%p A simple program to produce tab-based IOS applications.

%h3 Lunch Pay