---
layout: page
title: "Work"
description: "A collection of my recent work"
comments: true
sharing: true
footer: true
---
%h2 My Work
%p
  %em A collection of my recent work

.listsection
  %img.right(src="/workshop/images/Dianping_thumb.jpg")
  %h3 Dianping IPHONE
  %small.soft.block Prgramming Objective-C
  %p Dianping.com, known as the Chinese version of YELP and GROUPON, 
  .footer
    %a(href="{{ root_url }}/workshop/dianping-ios") More Information &rarr;

.listsection
  %img.right(src="/workshop/images/DianpingHD_thumb.jpg")
  %h3 Dianping IPAD
  %small.soft.block Prgramming Objective-C
  %p Dianping.com, known as the Chinese version of YELP and GROUPON, 
  .footer
    %a(href="{{ root_url }}/workshop/dianping-ios") More Information &rarr;

.listsection
  %img.right(src="/workshop/images/DPTuan_thumb.jpg")
  %h3 Dianping Tuan IPHONE
  %small.soft.block Leading Programming Objective-C
  %p Dianping Tuan is an important business of Dianipng.com. 
  .footer
    %a(href="{{ root_url }}/workshop/dptuan") More Information &rarr;

.listsection
  %img.right(src="/workshop/images/GolfToday_thumb.jpg")
  %h3 Golf Today
  %small.soft.block Programming Objective-C
  %p GolfToday is an IOS application about Golf. It has various functionalities including the search of golf courses, game scoring, fairway display, distance calculation and many other cool features. It provides not only social connections to other golf players but also useful tools when you are playing golf.
  .footer
    %a(href="{{ root_url }}/workshop/golftoday") More Information &rarr;
